body{
    text-align:center;
    margin:0;
    
}

#title{
    padding-top: 50px;
}

#des{
padding-bottom: 20px;
}
#main
{
background-color: #eee;  
margin: 30px 8px;  
}

ul li{
padding-top:10px;
padding-bottom:10px;
line-height: 2;
text-align:left;


}
blockquote{
    font-style: italic;
    line-height: 1.5;
    text-align: left;
   
    
}
#image{
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
   
  }

#img-div{
    
    
    padding: 50px;
    background-color: white;
    margin-left:20px;
    margin-right:20px;
    margin-top:0;

}

#tribute-info{
   
   width:50%;
   margin-left:auto;
   margin-right:auto;
   margin-top:50px;
  
}

a {
    color: blue;
  }
  
 a:visited{
     color:gray;
 }
